.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.products_image {
  width: 200px;
}

.products_title {
  width: 300px;
}

.products_symbol {
  text-align: end;
}

.tabl {
  /* margin-top: 15000px; */
  position: absolute;
  top: 0;

}